
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Playfair:wght@300&display=swap');

header {
    width: 300px;
    height: 
    background: #
}  
h1 {
    float: left;
    font-size: 300%;
    font-family: "Playfair", sans-serif;
    color: #02afd0;
}
